* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }


.homeWrapper{
    box-sizing:border-box;
    width: 100vw;
    min-height: 90vh;
}

.introduce{
    text-align: center;
    background-color: #fffff6;
    min-height: 40vh;
}

.sellBuyContainer{
    display: flex;
}

.sell{
    text-align: center;
    background-color: #b2ebf2;
    min-height: 50vh;
    width: 50vw;
}

.buy{
    text-align: center;
    float: right;
    background-color: #d1c4e9;
    min-height: 50vh;
    width: 50vw;
}
