* {
    margin: 0;
    padding: 0;
  }



.wrapper{
    width: 100%;
    min-height: 90vh;
}

.introduce{
    text-align: center;
    background-color: aqua;
    min-height: 40vh;
}

.sellBuyContainer{
    display: flex;
}

.sell{
    text-align: center;
    background-color: antiquewhite;
    min-height: 50vh;
    width: 50vw;
}

.buy{
    text-align: center;
    float: right;
    background-color: bisque;
    min-height: 50vh;
    width: 50vw;
}
