/* 상위요소 padding으로 가운데로 모으기 */
.showPostWrapper{
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;

    width: 100%;
    min-height: 90vh;
    border: 1px solid blue;
}


.postContainer{
    border: 1px solid red;
    min-height: 90vh;
    box-sizing:content-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.titleBox{
    border: 1px solid black;   
    min-height: 5px;
}

.titleBox > .title{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
}

.titleBox > .userName{
    float: right;
    
    padding: 20px;
}

.bodyContainer{
    min-height: 100%;
    border: 1px solid black;   
}

.detailBody{
    float: right;
}

/* 작성자만 보이도록
.updateBtn{
    display: none;
}

.removeBtn{
    display: none;
} */


/* 이미지 사진 조정 */
img{
    width: 300px;
    height: 300px;
}