.writePostwrapper{
    width: 100%;
    min-height: 90vh;
    
    padding-left: 20%;
    padding-right: 20%;
}

/* 작성목록 감싸는 요소 */
.writePost{
    background-color:azure;
    width: 100%;
    padding: 10px;
    margin-top: 5%;
    margin-bottom:5%;
}
.writePost >p{
    background-color:aliceblue;
    text-align: center;
}

/* titleDiv */
.titleDiv{
    
    background-color: aliceblue;
    margin-top: 5px;
    min-height: 10vh;
    padding: 10px;
}

.inputTitle{
    width: 100%;
    min-height: 10vh;
    padding: 10px;
    font-size: 20px;
}

/* contentDiv */
.bodyDiv{
    background-color: aliceblue;
    min-height: 50vh;
    padding: 10px;
}

/* textarea 직접 css 적용하지 말기 */
textarea{
    resize:none;
}

.inputBody{
    width: 100%;
    min-height: 50vh;
    padding: 10px;
    font-size: 15px;
    resize: none;
}

/* 이미지파일 div */
.fileDiv{
    margin-top: 10px;
    font-size: 1.2em;
}
.fileDiv > input {
    all:unset;
}


/* 카테고리와 제출버튼 */
.categoryAndSubmit{
    display: flex;
    justify-content: space-between;
}
.categoryAndSubmit .selectCatecory{
    margin-top: 5px;
}

.SubmitBtn{
    margin-top: 5px;
    all:unset;
}

/* 미리보기 이미지 마진설정 */

.thumbnailImg{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}